<h2 align="center"> üõ†Ô∏è Regression of Used Car Prices üîÆ</h2>

### **Objective** üéØ

The objective of this competition is to predict the price of used cars based on various attributes. The dataset provided for this competition includes various features related to used cars, such as the car's model, year of manufacture, mileage, fuel type, transmission type, and engine power. The target variable for this competition is the price of the used car.

### **Dataset** üì¶

| Variable Name  | Definition                                                   |
|----------------|--------------------------------------------------------------|
| id             | Unique identifier for each entry                             |
| brand          | Brand of the vehicle                                          |
| model          | Model of the vehicle                                          |
| model_year     | Year the vehicle model was manufactured                       |
| milage         | Mileage of the vehicle (in miles)                             |
| fuel_type      | Type of fuel the vehicle uses (e.g., Gasoline, Flex Fuel)     |
| engine         | Engine specification including horsepower and type           |
| transmission   | Type of transmission (e.g., A/T, Dual Shift Mode)             |
| ext_col        | Exterior color of the vehicle                                 |
| int_col        | Interior color of the vehicle                                 |
| accident       | Information about any accidents or damages reported           |
| clean_title    | Indicates if the vehicle has a clean title (Yes/No)           |
| price          | Price of the vehicle                                          |

### Library Imports

In [3]:
# Importing the basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### Data Pre-Processing üõ†Ô∏è

In [20]:
train_df = pd.read_csv('./playground-series-s4e9/train.csv',index_col=0)
test_df = pd.read_csv('./playground-series-s4e9/test.csv',index_col=0)
submission_df = pd.read_csv('./playground-series-s4e9/sample_submission.csv',index_col=0)

In [21]:
print('The dimension of the train dataset is:', train_df.shape)
print('The dimension of the test dataset is:', test_df.shape)

The dimension of the train dataset is: (188533, 12)
The dimension of the test dataset is: (125690, 11)

In [22]:
train_df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
id,,,,,,,,,,,,
0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [23]:
test_df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
id,,,,,,,,,,,
188533,Land,Rover LR2 Base,2015,98000,Gasoline,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,Yes
188534,Land,Rover Defender SE,2020,9142,Hybrid,395.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,Silver,Black,None reported,Yes
188535,Ford,Expedition Limited,2022,28121,Gasoline,3.5L V6 24V PDI DOHC Twin Turbo,10-Speed Automatic,White,Ebony,None reported,NaN
188536,Audi,A6 2.0T Sport,2016,61258,Gasoline,2.0 Liter TFSI,Automatic,Silician Yellow,Black,None reported,NaN
188537,Audi,A6 2.0T Premium Plus,2018,59000,Gasoline,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Black,None reported,Yes

In [24]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188533 entries, 0 to 188532
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   brand         188533 non-null  object
 1   model         188533 non-null  object
 2   model_year    188533 non-null  int64
 3   milage        188533 non-null  int64
 4   fuel_type     183450 non-null  object
 5   engine        188533 non-null  object
 6   transmission  188533 non-null  object
 7   ext_col       188533 non-null  object
 8   int_col       188533 non-null  object
 9   accident      186081 non-null  object
 10  clean_title   167114 non-null  object
 11  price         188533 non-null  int64
dtypes: int64(3), object(9)
memory usage: 18.7+ MB

In [25]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 125690 entries, 188533 to 314222
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   brand         125690 non-null  object
 1   model         125690 non-null  object
 2   model_year    125690 non-null  int64
 3   milage        125690 non-null  int64
 4   fuel_type     122307 non-null  object
 5   engine        125690 non-null  object
 6   transmission  125690 non-null  object
 7   ext_col       125690 non-null  object
 8   int_col       125690 non-null  object
 9   accident      124058 non-null  object
 10  clean_title   111451 non-null  object
dtypes: int64(2), object(9)
memory usage: 11.5+ MB

In [26]:
train_df.describe(include='all')

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
count,188533,188533,188533.000000,188533.000000,183450,188533,188533,188533,188533,186081,167114,1.885330e+05
unique,57,1897,NaN,NaN,7,1117,52,319,156,2,1,NaN
top,Ford,F-150 XLT,NaN,NaN,Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes,NaN
freq,23088,2945,NaN,NaN,165940,3462,49904,48658,107674,144514,167114,NaN
mean,NaN,NaN,2015.829998,65705.295174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.387802e+04
std,NaN,NaN,5.660967,49798.158076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.881952e+04
min,NaN,NaN,1974.000000,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+03
25%,NaN,NaN,2013.000000,24115.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.700000e+04
50%,NaN,NaN,2017.000000,57785.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.082500e+04
75%,NaN,NaN,2020.000000,95400.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.990000e+04
max,NaN,NaN,2024.000000,405000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.954083e+06

In [27]:
test_df.describe(include='all')

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
count,125690,125690,125690.000000,125690.000000,122307,125690,125690,125690,125690,124058,111451
unique,55,1891,NaN,NaN,7,1117,52,317,156,2,1
top,Ford,F-150 XLT,NaN,NaN,Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes
freq,15265,1923,NaN,NaN,110533,2189,33132,32370,71613,96263,111451
mean,NaN,NaN,2015.797526,66042.581510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,5.673797,50223.858435,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1974.000000,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,2013.000000,24500.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,2017.000000,57500.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,2020.000000,95798.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,2024.000000,405000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
round(100*train_df.isnull().sum()/train_df.shape[0],4)

brand            0.0000
model            0.0000
model_year       0.0000
milage           0.0000
fuel_type        2.6961
engine           0.0000
transmission     0.0000
ext_col          0.0000
int_col          0.0000
accident         1.3006
clean_title     11.3609
price            0.0000
dtype: float64

In [32]:
round(100*test_df.isnull().sum()/test_df.shape[0],4)

brand            0.0000
model            0.0000
model_year       0.0000
milage           0.0000
fuel_type        2.6915
engine           0.0000
transmission     0.0000
ext_col          0.0000
int_col          0.0000
accident         1.2984
clean_title     11.3287
dtype: float64